<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lonely Zombie Game</title>
    <style>
      * {
        padding: 0px;
        margin: 0px;
      }
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;

        user-select: none;  
        touch-action: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      }
      canvas {
        border: 0.1px solid grey;
      }
      a {
        color: rgb(161, 157, 157);
        font-size: 4.5em; /* Adjust the font size as needed */
      }
      .links {
        margin-bottom: 20px;
        font-weight: normal;
      }
      .separator {
        color: grey;
      }

      #logout {
        color: rgb(161, 157, 157);
        font-size: 4.5em;
        font-family: inherit; /* Use the same font as the parent element (links) */
        background: none;
        border: none;
        text-decoration: underline;
        cursor: pointer;
      }
    </style>
    <script src="js/index.js" defer type="module"></script>
  </head>
  <body>
    <div class="links">
      <a href="/gamepage">Lonely Zombie</a
      >&nbsp;&nbsp;<span class="separator">|</span>&nbsp;&nbsp;
       
       <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">Profile</a> |
        <button class="no-button" id="logout">Logout</button>
        {{!-- <a href="/logout">Logout</a> --}}
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      
      {{!-- <a href="">Login</a> --}}
    </div>


    
  <div>
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>

  </div>

  <!-- Render script for logged in users only -->
  <div>{{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  </div>

{{!-- <canvas id="game"></canvas> --}}
  </body>
</html>