<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">

    <h3>Highest Scores:</h3>
    <ul>
      {{#each highScores as |score|}}
        <li>Score: {{score.score}}</li>
      {{/each}}
    </ul>
  </div>

  <!-- Add a button to start the game -->
  <div class="col-md-6">
    <h3>Game:</h3>
    <a href="/gamepage" class="btn btn-primary">Start Game</a>
    
    <!-- Add a button to view high scores -->
    <a href="/highscores" class="btn btn-secondary">View High Scores</a>
  </div>
</div>

<script src="./js/profile.js"></script>
